
<main class="main-content border-radius-lg ">
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>

    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
      data-scroll="true">
        <form action="">
            <textarea name="" id="editor" cols="30" rows="10"></textarea>
        </form>
    </nav>
    {{!-- <script src="./ck.js"></script> --}}
    <script src="./node_modules/@ckeditor/ckeditor5-upload"></script>
    <script type="module">
        //import { SimpleUploadAdapter } from '/@ckeditor/ckeditor5-upload';
        ClassicEditor
            .create( document.querySelector( '#editor' ) 
            //{
               // plugins: [ SimpleUploadAdapter, /* ... */ ],
                //toolbar: [ /* ... */ ],
                //simpleUpload: {
                    // The URL that the images are uploaded to.
                    //uploadUrl: 'http://example.com',

                    // Enable the XMLHttpRequest.withCredentials property.
                    // withCredentials: true,

                    // Headers sent along with the XMLHttpRequest to the upload server.
                    //headers: {
                      //  'X-CSRF-TOKEN': 'CSRF-Token',
                        //Authorization: 'Bearer <JSON Web Token>'
                    //}
               // }
             )
            .catch( error => {
                console.error( error );
            } );
    </script>
</main>